<div class="inner cover">
    <h1 class="cover-heading">Please see your video with unique id</h1>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">UniqueId</label>
            <input type="text" class="form-control" id="uid" placeholder="Unique Id ">
        </div>
        <button type="button" class="btn btn-default" id="goto">Go to Video</button>
    </form>
</div>