<div class="cover-container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-md-12">
            <span id="json" style="display: none;"><%- json %></span>
            <canvas id="video-canvas"></canvas>
            <form class="form-inline">
                <div class="form-group">
                    <button id="photo" class="btn btn-info">Take Photo</button>
                </div>
               <!-- <div class="form-group">
                    <label for="exampleInputEmail2">Set in Minutes</label>
                    <input type="text" class="form-control" id="minutes" value="10" placeholder="10">
                </div>-->
                <button id="record" class="btn btn-danger">Record Video</button>
                <a id="downloadLink" style="display: none;">Download Your Video</a>
            </form>
        </div>
    </div>

</div>


