<span id="json" style="display: none;"><%- json %></span>
<div id='playwrap' style='margin: 40px auto 0; width: 100%; max-width: 640px; top: 0; left: 0;'>
    <div id='player'></div>
</div>
<div class='input-container' style='width: 100%; max-width: 640px;'>
		<span>
			<input id='url-input' autocapitalize='off' value='http://studease.cn/vod/sample.flv'>
		</span>
    <a class='btn red' onclick='playTheURL();'>Play</a>
</div>