<div id="videoContainer">
</div>
<div id="newVideoDiv">
    <canvas id="vCanvas"></canvas>
</div>
<!--<div>
    <audio id="aacAudio" preload>
        <source src="demo.aac" type="audio/mp4; codecs=mp4a.40.5" preload>
    </audio>
</div>-->
<div id="loading" style="">Loading</div>
<div id="playLink" class="bigFont" style="display: none">
    <a href="#" onclick="startPlay();return false;">Start</a>
    <a href="#" onclick="stopPlay();return false;">Stop</a>
</div>